@model List<AtlasLibrary.Models.Item>

<h1>Administrera objekt</h1>
<a asp-action="Create" class="btn btn-secondary mb-3">Lägg till nytt objekt</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Titel</th>
        <th>Författare</th>
        <th>Typ</th>
        <th>Tillgänglig</th>
        <th>Åtgärder</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@(item.Type != "Utrustning" ? item.Author : "---")</td>
            <td>@item.Type</td>
            <td>@(item.IsAvailable ? "Ja" : "Nej")</td>
            
            <td class="d-flex gap-1">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Redigera</a>

                <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Radera?');">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Ta bort</button>
                </form>
            </td>
            
            
        </tr>
    }
    </tbody>
</table>